%div{ :style => "text-align: center; margin-top: 200px;" }
  Nothing to see here. Move along now.

%script
  var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;

%script{ :src => "http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js" }
