-content_for :title do
  Delegated Access Control

.project
  %h1 Delegated Access Control

  %button.starttour Quick Tour

  .project-date 2011 - PHP

  .project-stack
    %h2 Technology Stack
    %ul
      %li PHP
      %li jQuery
    %h2 Integrates with
    %ul
      %li LDAP/Active Directory
      %li Google Apps
      %li Oracle, MySQL, MS SQL

  .project-description

    %p
      This is a standalone PHP app born out of the need to delegate access control to various departments at 
      %a{ :href => 'http://biola.edu/' } Biola University. 
      Admins define groups that grant access to IT services, and then authorize power users to manage them via a drag 'n drop interface. Groups and user records can be sync'ed from LDAP, Google Apps or database tables. A plugin architecture allows for easily adding functionality.

    %p
      The app was initially used primarily in IT, but quickly grew in popularity and now includes 500+ groups that grant access to a couple dozen services throughout the University.

    %p

    %a{ :href => 'http://access.biola.edu/', :target => '_blank' } Visit the live site &raquo; <span class="discrete">(sorry, a Biola netid is required)</span><br />

  .screenshot-container
    %img.screenshot{ :src => '/images/access-1.png' }
    .stop{ :style => 'left: 63.147750299033056%; top: 30.84179970972424%; width: 28.4796573875803%; height: 22.93178519593614%;' } 
    =tooltip :left => '64.76851895324185%', :top => '57.074076334635414%' do
      %h2 Access Level Groups
      %p Admins define virtual groups that represent access levels to a service - such as "Editors on the Wiki," "Read-only to Finance sharepoint," etc...

  .screenshot-container
    %img.screenshot{ :src => '/images/access-2.png' }

    .stop{ :style => 'left: 14.775160599571734%; top: 46.15384615384615%; width: 70.55674518201285%; height: 35.703918722786646%;' } 
    =tooltip :left => '48.583260912728925%', :top => '47.16200800667032%' do
      %h2 Customizable Actions
      %p Rules are set for what happens when users are added to or removed from the groups. Should they be added to an AD group? Inserted into a table? 

    .stop{ :style => 'left: 14.775160599571734%; top: 27.576197387518143%; width: 70.87794432548179%; height: 18.57764876632801%;' }
    =tooltip :left => '34.35939262653219%', :top => '3.121580663515406%', :class => 'left' do
      %h2 Delegated Control
      %p Group management is delegated to others, who remain blissfully unaware of the nitty gritty details necessary to access their service.


  .screenshot-container
    %img.screenshot{ :src => '/images/access-3.png' }
    .stop{ :style => 'left: 36.44544517765968%; top: -2.029520295202952%; width: 26.5466816647919%; height: 57.011070110701105%;' } 
    =tooltip :left => '63.32014103171796%', :top => '13.078347519315036%', :class => 'left' do
      %h2 Pluggable Actions
      %p Integrates seamlessly with:
      %ul
        %li LDAP/Active Directory
        %li Google Apps
        %li MSSQL, Oracle, MySQL
        %li Plugins easy to write...


  .screenshot-container
    %img.screenshot{ :src => '/images/access-4.png' }

    #stop_video.stop{ :style => 'left: 4.6038543897216275%; top: 24.383164005805515%; width: 90.79229122055675%; height: 66.90856313497822%;' } 
    =tooltip :left => '69.9720296921005%', :top => '51.34503523075613%' do
      %h2 Drag 'n drop
      %p Group managers search the directory for users and drag them in. When changes are saved, the actions defined for the group are run.

    %video#access_example{ :style => 'left: .4%; top: 24.4%; width: 97.75%; height: 64.6%; position: absolute; display: none;', :controls => 'controls' }
      %source{ :src => '/videos/access-example.m4v', :type => 'video/mp4' }/
      %source{ :src => '/videos/access-example.ogv', :type => 'video/ogg' }/

  %nav.projects
    %a.button{ :href => '/dropbox'} Next - File Sharing &agrave; la Dropbox &raquo;
    %a.button{ :href => '/talbot-placement'} &laquo; Previous - A Job Board in Rails
