-content_for :title do
  CV

#cv

  #me
    %img#photo{ :src => "/images/me_boat.png" }

    #contact_info
      .name David Bryant
      .title Programmer / Analyst
      26 Rue Gustave Courbet<br />
      38130 Echirolles, France
      %br/
      .phone 
        +1 (707) 733 3839 | +33 6 52 84 82 49<br />
        bryant.david@gmail.com | dearlbry.heroku.com
    
  .section
    .section-title
      %h1 In Brief
    
    .section-content
      %p I am a programmer and analyst with a broad range of experience. I specialize in automating IT tasks and enjoy creating intuitive web apps that make people's work easier.

      %p
        %span.bolded Why you should hire me:
        I am adaptable, creative, easy to work with and learn fast. I am a good programmer, love solving problems, and will bring a certain <em>je ne sais quoi</em> to your team that you'll wonder how you ever did without.
    
  .section
    .section-title
      %h1 Skillset
    
    .section-content
      %p
        %span.bolded Development: 
        10+ years development; proficient at PHP, Ruby on Rails, Javascript & CSS. I also have prior experience in C/C++ and a smattering of other languages, like Perl, Python and VB. I write clean, readable code and prefer to work on small, agile teams where quality work is valued.

      %p
        %span.bolded IT:
        Solid experience installing, provisioning, and <em>automating</em> business-critical services, including Active Directory, Google Apps, VMWare, databases, and server environments (Windows and Linux). 

  .section
    .section-title
      %h1 Technical Experience
    
    .section-content
      .section-item
        %h2 Freelance Web Developer
        %span.location Echirolles, France
        %span.date may 12 - present
        %p.content 
          Provide web development and system integration services for clients in France and the United States.

      .section-item
        %h2 Programmer/Analyst
        %span.location Biola University, La Mirada, CA
        %span.date mar 08 - apr 12
        %p.content 
          Designed and developed business critical web apps and automation tools. Examples: 
                    
        %ul
          %li <a href="/ws">Web Services Framework</a>, providing RESTful APIs to IT services (PHP),

          %li <a href="http://apps.biola.edu/apologetics-store">E-commerce solutions</a> (Rails), <a href="/talbot-placement">Job Board</a> (Rails), a <a href="/open-biola">Platform for free educational content</a> (Rails), 
          
          %li
            Internal business tools: <a href="http://apps.biola.edu/dupcenter-pricing">Quote calculator</a> (PHP), <a href="http://dropbox.biola.edu">File upload/sharing utility</a> (PHP), <a href="/access">Delegated Access Control Manager</a> (PHP) and <a href="/">more</a>.
       
        %p.content Key player in many of the university’s critical IT services, some of which I built or automated. Responsibilities included:
       
        %ul
          %li Planning and executing migration to Active Directory
          %li Automating Google Apps account provisioning, including authoring <a href="http://getgoogle.biola.edu">a self-service app</a>
          %li Assisting in migration to virtual server / network storage infrastructure
          %li Automation of software packaging and image creation
          %li Installation and integration of <a href="http://login.biola.edu">CAS web Single-Sign-On</a>

        %p.technologies PHP, Ruby on Rails, Javascript, jQuery, VBScript, LDAP (Active Directory & Open Directory), git, Win2x Server, OS X Server, Ubuntu Server, VMWare, CAS, Django, Python


      .section-item
        %h2 Programmer
        %span.location Icatis, Meylan, France
        %span.date feb - dec 06
        %p.content Development of remote software deployment and system management tools. Contributed to website development.
        %p.technologies VB6, VBScript, Perl, PHP/MySQL, NSIS

      .section-item
        %h2 Web Developer
        %span.location Editions Cl&eacute;, Lyon, France
        %span.date jun - nov 05
        %p.content 
          E-commerce web development, based around the osCommerce framework (
          %a{ :href => "http://www.editionscle.com" }> http://www.editionscle.com
          ). Customized Windows installer to support activation codes generated upon download.
        %p.technologies PHP/MySQL, C

      .section-item
        %h2 Systems Administrator
        %span.location Adeunis RF, Crolles, France
        %span.date apr - jun 05
        %p.content 
          Performed AD migration, purchased and installed server equipment. Responsible for all IT infrastructure.

      .section-item
        %h2 Support Technician
        %span.location Getronics Decan, Grenoble, France
        %span.date mar 04 - mar 05
        %p.content 
          Provided technical support and maintenance for Hewlett Packard and its clients’ servers and workstations.

      .section-item
        %p.content 
          Prior experience includes C Programming for <a href="http://www.sealevel.com/">SeaLevel</a> ('99), web development for <a href="http://web.archive.org/web/20020206111227/http://axiemtech.com/">Axiem Tech</a> ('01-'02), desktop support, telecom cabling, and teaching English in Tanzania.

  .section
    .section-title
      %h1 Education
    
    .section-content
      .section-item
        %h2 BS in Computer Science
        %span.location Biola University, La Mirada, CA
        %span.date may 03
        %p.content
    
      .section-item
        %p.content Fluent in French and English, conversational in German and Swahili. Authorized to work in the United States and the E.U.

  .float-buster