-content_for :title do
  Dropbox.biola

.project
  %h1 File sharing à la Dropbox

  %button.starttour Quick Tour

  .project-date 2009 - PHP

  .project-description

    %p
      The idea for Dropbox.biola was unashamedly copied from its popular namesake and was commissioned to enable on-campus users at <a href="http://biola.edu/" target="_blank">Biola University</a> to easily and quickly share large files. A simple yet elegant service, it quickly became popular among the faculty and staff as an easy way to collaborate on and distribute course content.

    %p
      A strong emphasis was placed on the user interface, complete with progress bars for uploads, inline-editing, drag and drop labels and customizable urls. 

    %p
      Users log in with their Active Directory credentials via the university's <a href="/ws">Web Services</a> framework. Access is limited to a subset of users, automatically sync'ed with the school's ERP system.

    %a{ :href => 'https://dropbox.biola.edu/', :target => "_blank" } Visit the live site &raquo; <span class="discrete">(sorry, a Biola netid is required)</span><br />

  .screenshot-container
    %img.screenshot{ :src => '/images/dropbox-1.png' }

    .stop{ :style => 'left: 63.16916488222698%; top: 12.530242964214441%; width: 22.805139186295502%; height: 8.563134978229318%;' } 
    =tooltip :left => '32.83571165685225%', :top => '2.8616895523403483%' do
      %h2 Active Directory Integration
      %p
        Users log in with their LDAP credentials and are 
        %a{ :href => '/ws' } automatically provisioned/deprovisioned
        according to their affiliation with the school. 

    .stop{ :style => 'left: 55.88865096359743%; top: 21.915820029027575%; width: 36.83083511777302%; height: 22.496371552975326%;' } 
    =tooltip :left => '66.4688339070028%', :top => '36.31597111982946%' do
      %h2 Ajaxified File Uploads
      %p Upload progress is tracked via PHP's APC module and displayed with a jQuery progress bar.

    .stop{ :style => 'left: 9.041757195613624%; top: 33.45669994160468%; width: 15.952890792291221%; height: 8.272859216255442%;' } 
    =tooltip :left => '-2.496431011714568%', :top => '39.04934510783291%' do
      %h2 All in the Details
      %p Friendly features like inline editing and drag 'n drop labels helped make this service popular with the staff and faculty.

  %nav.projects
    %a.button{ :href => '/ws'} Next - A Web Services Framework &raquo;
    %a.button{ :href => '/access'} &laquo; Previous - Access Control Delegation
