%section#about_me
  %p Hi, I'm David. I'm a coder and analyst, and here are some things I've done recently.

%section#video
  /
    %iframe{ :src => 'http://player.vimeo.com/video/46391502?title=0&amp;color=ffffff', :width => '500', :height => '281', :frameborder => '0', :webkitAllowFullScreen => true, :mozallowfullscreen => true, :allowFullScreen => true }
    %p
      %a{ :href => 'http://vimeo.com/32257629' }Ducksboard
      from 
      %a{ :href => 'http://vimeo.com/ducksboard' }Ducksboard
      on
      %a{ :href => 'http://vimeo.com' }Vimeo


%section#work

  %h1 Development & System Integration Projects

  .work-item.clear-fix
    %a.work-item-title{ :href => '/instantquote' } 3D Printing Quoter
    %span.technologies 2012 - PHP, Wordpress, PayPal, SOAP
    %a.work-item-link{ :href => '/instantquote' }
      %img.work-item-img{ :src => '/images/partsnap.png' }
    %p.work-item-content
      This is a Wordpress plugin capable of generating a quote for a 3D printing job. Users upload a CAD-generated 
      %a{ :href => 'http://en.wikipedia.org/wiki/STL_(file_format)' } STL file
      and it calculates the object's geometry, crunches some numbers and presents the user with a price tag. Integrates with 
      %a{ :href => 'https://www.x.com/developers/paypal/products/adaptive-payments' } PayPal Adaptive 
      for online payments and the CRM 
      %a{ :href => 'http://worketc.com' } WorkETC 
      for order management.
    %a.work-item-more{ :href => '/instantquote' } More &raquo;

  .work-item.clear-fix
    %a.work-item-title{ :href => '/talbot-placement' } Job Board
    %span.technologies 2010 - Ruby on Rails, RSpec
    %a.work-item-link{ :href => '/talbot-placement' }
      %img.work-item-img{ :src => '/images/talbot-placement.png' }
    %p.work-item-content
      This app fulfilled <a href="http://talbot.edu/" target="_blank">Talbot School of Theology</a>'s accreditation requirement for an alumni job board. It allows churches and approved para-church organizations to post employment opportunities that are visible only to users affiliated with the school. This was my first live Rails project.
    %a.work-item-more{ :href => '/talbot-placement' } More &raquo;

  .work-item.clear-fix
    %a.work-item-title{ :href => '/access' } Delegated Access Control
    %span.technologies 2011 - PHP, jQuery, LDAP, Oracle &amp; Google Apps integration
    %a.work-item-link{ :href => '/access' }
      %img.work-item-img{ :src => '/images/access.png' }
    %p.work-item-content
      This is a standalone PHP app born out of the need to delegate access control to various departments at <a href="http://biola.edu/">Biola University</a>. Admins define groups that represent access levels to IT services and power users then manage those groups via an intuitive, drag 'n drop interface. Group membership updates can trigger any number of changes to LDAP directories, Google Apps services, database tables and more via customizable scripted actions.
    %a.work-item-more{ :href => '/access' } More &raquo;

  .work-item.clear-fix
    %a.work-item-title{ :href => '/dropbox' } File sharing à la Dropbox 
    %span.technologies 2009 - PHP, jQuery
    %a.work-item-link{ :href => '/dropbox' }
      %img.work-item-img{ :src => '/images/dropbox.png' }
    %p.work-item-content
      This app was commissioned to enable users to easily and quickly share large files from on campus at <a href="http://biola.edu/" target="_blank">Biola University</a> and was unashamedly copied from its popular namesake. A simple yet elegant service, it quickly became popular among the faculty and staff as an easy way to collaborate on and distribute course content.
    %a.work-item-more{ :href => '/dropbox' } More &raquo;

  .work-item.clear-fix
    %a.work-item-title{ :href => '/ws' } Web Services Framework
    %span.technologies 2009-2012 - PHP, SOAP, LDAP, Oracle &amp; Google Apps integration
    %a.work-item-link{ :href => '/ws' }
      %img.work-item-img{ :src => '/images/ws.png' }
    %p.work-item-content
      The Web Services framework I wrote for <a href="http://biola.edu" target="_blank">Biola University</a> enables developers to easily integrate with many of the school's backend services via REST calls. The platform also handles provisioning and synchronizing accounts in many of the school's services - including Google Apps, Active Directory and the emergency notification system among others.
    %a.work-item-more{ :href => '/ws' } More &raquo;

  .work-item.clear-fix
    %a.work-item-title{ :href => '/open-biola' } Open.biola
    %span.technologies 2011 - Ruby on Rails, Sphinx, jQuery
    %a.work-item-link{ :href => '/open-biola' }
      %img.work-item-img{ :src => '/images/open-biola.png' }
    %p.work-item-content
      I worked on the admin interface and search functionality for this site designed to provide free educational content from <a href="http://biola.edu">Biola University</a>. 
    %a.work-item-more{ :href => '/open-biola' } More &raquo;
    %div{ :style => "clear: both;" }

  %h1 Side Projects

  .work-item.clear-fix
    %a.work-item-title{ :href => '/vsi' } Village Schools International
    %span.technologies 2010 - Drupal, Google Maps API
    %a.work-item-link{ :href => '/vsi' }
      %img.work-item-img{ :src => '/images/vst.png' }
    %p.work-item-content
      I redesigned the site for this non-profit organization that starts schools and provides medical assistance in Tanzania. I also added some custom features, like a Google Earth tour generated from a admin-defined list of school locations.
    %a.work-item-more{ :href => '/vsi' } More &raquo;
    %div{ :style => "clear: both;" }
