-content_for :title do
  3D Printing Quoter

.project
  %h1 3D Printing Quoter

  %button.starttour Quick Tour

  .project-date 2012 - PHP/WordPress

  .project-stack
    %h2 Technology Stack
    %ul
      %li PHP
      %li WordPress
      %li PayPal Adaptive
      %li jQuery


  .project-description

    %p
      This is a WordPress plugin that generates a quote for a 3D printing job. Users upload a CAD-generated <a href='http://en.wikipedia.org/wiki/STL_(file_format)'>STL file</a> and the plugin calculates the object's geometry, crunches some numbers and presents the user with a price tag. He then has the option of paying for the order online and having it shipped to him. To calculate the quote, the plugin needed to:
    %ul
      %li Handle both binary and text-formatted STL files,
      %li Calculate the volume of the object to determine how much material would be required to print it,
      %li Calculate the optimal orientation of the object in the printer to predict how much support material would be required (think of scaffolding),
      %li Perform all this in PHP...

    %p
      When <a href='http://www.partsnap.com/'>PartSnap</a> approached me with this project, I was skeptical about the feasibility of doing 3D math in PHP. Not surprisingly, PHP presents some rather steep limitations that had to be worked around, not least of which were performance problems inherent to working with a scripting language.

    %p
      In the end, with some assistance from my favorite <a href='http://vimeo.com/46391502'>Visual FX Guru</a>, and a brush-up on my linear algebra from <a href='http://www.khanacademy.org/math/linear-algebra'>Khan Academy</a>, I was able to get reasonably accurate results within an acceptable time frame. However, objects with more than a few thousand facets still took more time to process than was acceptable without feedback. So I resorted to a "naïve" jQuery progress bar that increments based on an estimate of the time required to process the file. A calibration script allows an admin to automatically adjust these estimates according to the web server's performance. 

    %p
      PartSnap and I worked out a commission-based deal for the work, which is paid out automatically thanks to chained payments from PayPal's <a target="_blank" href='https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_api_APIntro'>Adaptive Payments</a> API. Orders, their associated files, and payment information are automatically inserted into the CRM <a target="_blank" href='http://worketc.com'>WorkETC</a> for simplified management. 


    %a{ :href => 'http://partsnap.com/3d-printing-instant-quote/' } Visit the live site &raquo;

  .screenshot-container
    %img.screenshot{ :src => '/images/instantquote_progress.png' }
    #progress_indicator.stop{ :style => 'left: 32%; top: 40%; width: 36%; height: 25%;' } 
    #fake_progress.tour-element{ :style => 'left: 35.438972162740896%; top: 50.68120722549813%; width: 29.22912205567452%; height: 3.678474114441417%;' }
    =tooltip :left => '66.69159587631877%', :top => '33.54393502940302%', :class => 'left' do
      %h2 Upload STL's
      %p A user uploads one ore more <a target="_blank" href='http://en.wikipedia.org/wiki/STL_(file_format)'>STL files</a> - the items to print - which are then processed on the backend in real time. 


  .screenshot-container
    %img.screenshot{ :src => '/images/instantquote.png' }

    #mesh_stats.stop{ :style => 'left: 11%; top: 26%; width: 27%; height: 10%;' } 
    =tooltip :left => '16%', :top => '34%' do
      %h2 Geometry Calculation
      %p The object's volume and bounding box are calculated, along with the orientation that will minimize the support material (i.e scaffolding) required to print it.

    #preview.stop{ :style => 'left: 54%; top: 23%; width: 16%; height: 27%;' } 
    =tooltip :left => '71%', :top => '16%', :class => 'left' do
      %h2 3D Previews
      %p A fully interactive 3D preview of the object is displayed on an HTML5 canvas, using the <a target="_blank" href="https://code.google.com/p/jsc3d/">jsc3d</a> Javascript library.

    #stl_object.stop{ :style => 'left: 10%; top: 20%; width: 62%; height: 38%;' } 
    =tooltip :left => '47%', :top => '55%' do
      %h2 Real-time Quotes
      %p Quotes are calculated based on the volume of the object, the requested polymer, it's support material and other customizable factors.

    %canvas#mesh.tour-element{ :style => 'position: absolute; left: 53.99515923229892%; top: 22.95839753466872%; width: 16.1697247706422%; height: 21.021897810218977%;', :width => 150, :height => 150 }

  .screenshot-container
    %img.screenshot{ :src => '/images/instantquote_paypal.png' }
    #paypal_dialog.stop{ :style => 'left: 29%; top: 14%; width: 43%; height: 52%;' } 
    =tooltip :left => '60.54302599496454%', :top => '27.80266119933583%', :class => 'left' do
      %h2 PayPal Checkout
      %p Checkout is offloaded to PayPal's <a target="_blank" href='https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_api_APIntro'>Adaptive Payments</a> to automate commission. Submitted orders and client data are pushed up to the <a target="_blank" href='http://worketc.com'>WorkETC</a> CRM.

  #stl_examples_wrapper
    #stl_examples.stop
      %h2 Care to try it out?
      %p Download these files and upload them to PartSnap's <a href='http://partsnap.com/3d-printing-instant-quote/'>3D Printing Quoter</a>.
      %a.stl{ :href => '/stl/bowl.stl' }
        %img{ :src => '/images/bowl.png' }
        bowl.stl
      %a.stl{ :href => '/stl/teapot.stl' } 
        %img{ :src => '/images/teapot.png' }
        teapot.stl
      %a.stl{ :href => '/stl/mug.stl' } 
        %img{ :src => '/images/mug.png' }
        mug.stl

    =tooltip :right => '-290px', :top => '20px' do
      %h2 Give it a Spin
      %p If you're curious, feel free to checkout the <a href='http://partsnap.com/3d-printing-instant-quote/'>live site</a>. Here are some sample STL files you can use to try it out.

  %nav.projects
    %a.button{ :href => '/talbot-placement'} Next - A Job Board in Rails &raquo;
    %a.button{ :href => '/'} &laquo; Back to the list
