!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang='en' class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>    <html lang='en' class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>    <html lang='en' class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => 'en' }
  <!--<![endif]-->
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }

    %title=render_title

    %meta{ :name => 'description', :content => '' }
    %meta{ :name => 'viewport', :content => 'width=device-width' }

    %link{ :rel => 'stylesheet', :href => '/css/normalize.css' }
    %link{ :rel => 'stylesheet', :href => '/css/main.css' }
    %link{ :rel => 'stylesheet', :href => '/css/jquerytour.css' }
    %link{ :rel => 'stylesheet', :href => '/css/highlight.css' }
    //%link{ :rel => 'stylesheet', :href => '/css/dev.css' }
    %link{ :rel => 'stylesheet', :href => '/css/jquery/ui-lightness/jquery-ui-1.9.0.custom.min.css' }
    %link{ :rel => 'icon', :type => 'image/png', :href => '/d.png' }

    %script{ :src => 'js/vendor/modernizr-2.6.1.min.js' }

  %body
    %header 
      %a#title{ :href => '/', :alt => 'David Bryant', :title => 'David Bryant' } David Bryant
      #necessary_evils
        %a#linkedin{ :href => 'http://fr.linkedin.com/pub/david-bryant/1/298/73a', :alt => 'My LinkedIn profile', :title => 'My LinkedIn profile' } Linked<span class="in">in</span>
        %a#twitter{ :href => 'https://twitter.com/dearlbry', :alt => 'My (rather sparse) tweets', :title => 'My (rather sparse) tweets' } Twitter
        -#%a#github{ :href => 'https://github.com/dearlbry', :alt => 'My GitHub profile', :title => 'My GitHub profile' } GitHub
        -#%a#bitbucket{ :href => 'https://bitbucket.org/dearlbry', :alt => 'My profile on Bitbucket.org', :title => 'My profile on Bitbucket.org' } Bitbucket
        -#%a#stackoverflow{ :href => 'http://stackexchange.com/users/294004/dearlbry', :alt => 'My profile on Stack Exchange', :title => 'My profile on Stack Exchange' } Stack Overflow

    %section.content
      %nav.main-nav
        =render_menu({ 'Home' => '/', 'CV' => '/cv' })

      =yield

    =render_tooltip_styles

    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js' }
    -#%script window.jQuery || document.write('<script src='js/vendor/jquery-1.8.0.min.js'><\/script>')
    %script{ :src => 'js/vendor/jquery.easing.1.3.js' }
    %script{ :src => 'js/vendor/jquery-collision-1.0.1.js' }
    %script{ :src => 'js/plugins.js' }
    %script{ :src => 'js/main.js' }

    -if !params[:captures].nil? and File.exists?(File.expand_path(File.join(File.dirname(File.dirname(__FILE__)), "public/js", params[:captures].first + ".js")))
      %script{ :src => 'js/' + params[:captures].first + '.js' }

    %script
      var _gaq=[['_setAccount','UA-35863637-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

    %footer
      %p
        bryant.david@gmail.com | +1 (707) 733-3839 | +33 6 52 84 82 49<br />
