-content_for :title do
  Open Biola

.project
  %h1 Open Biola

  %button.starttour Quick Tour

  .project-date 2011 - Ruby on Rails

  .project-stack
    %h2 Technology Stack
    %ul
      %li Ruby on Rails
      %li jQuery
      %li Sphinx

  .project-description

    %p
      <a href="http://open.biola.edu/">Open Biola</a> is a platform that enables <a href="http://biola.edu">Biola University</a> to offer free educational content to the masses. It aggregates relevant media from various sources and presents it in an organized and attractive interface.

    %p
      I worked mainly on portions of the admin interface and on the search functionality. Particular attention to detail was given throughout the design process in an effort to lighten the load of the content curator. Features like inline-editing, autocomplete lists, WYSIWYG's and intelligently auto-populating fields helped make the interface enjoyable to use. 

    %p
      Search results, both on the front-end and back-end were delegated to <a href="http://sphinxsearch.com/">Sphinx</a> via the <a href="http://freelancing-god.github.com/ts/en/">Thinking Sphinx</a> gem (though it was later swapped out for <a href="http://lucene.apache.org/solr/">Solr</a>, which was easier to integrate and implement).


    %a{ :href => 'http://open.biola.edu' } Visit the live site &raquo;

  .screenshot-container
    %img.screenshot{ :src => '/images/open-biola-1.png' }
    .stop{ :style => 'left: 25.69593147751606%; top: 59.116809116809115%; width: 64.13276231263383%; height: 12.535612535612536%;' } 
    =tooltip :left => '-3.836307893218014%', :top => '55.73367040041845%' do
      %h2 Friendly Admin UI
      %p Inline-editing, autocomplete lists, WYSIWYG's, drag and drop ordering - all the ingredients for a modern UI. 


  .screenshot-container
    %img.screenshot{ :src => '/images/open-biola-2.png' }
    .stop{ :style => 'left: 24.73233404710921%; top: 7.228915662650603%; width: 63.062098501070665%; height: 82.2289156626506%;' } 
    =tooltip :left => '9.682371478519807%', :top => '46.816242794025996%' do
      %h2 Field Autocompletion
      %p Faculty profiles can be automatically populated using the API's exposed at <a href="http://faculty.biola.edu/">faculty.biola.edu</a>.


  %nav.projects
    %a.button{ :href => '/vsi'} Next - CMS Customization for a worthy NGO &raquo;
    %a.button{ :href => '/ws'} &laquo; Previous - A Web Services Framework
