-content_for :title do
  Alumni Job Board

.project
  %h1 An Alumni Job Board

  %button.starttour Quick Tour

  .project-date 2009 - Ruby on Rails

  .project-description

    %p
      This app fulfilled <a href="http://talbot.edu/" target="_blank">Talbot School of Theology</a>'s accreditation requirement for an alumni job board. It allows churches and approved para-church organizations to post employment opportunities that are visible only to users affiliated with the school. This was my first live Rails project and my introduction to TDD with RSpec.

    %a{ :href => 'http://talbot.edu/placement/', :target => '_blank' } Visit the live site &raquo; <span class="discrete">(sorry, a Biola netid is required)</span><br />

  .screenshot-container
    %img.screenshot{ :src => '/images/talbot-placement-1.png' }
    .stop{ :style => 'left: 9.421841541755889%; top: 43.0722891566265%; width: 80.19271948608137%; height: 45.933734939759034%;' } 
    =tooltip :left => '36.44634772991312%', :top => '59.03437366224315%' do
      %h2 Scoped Job Board
      %p Approved accounts post employment opportunities reserved for students and alumni of <a href="http://talbot.edu", target="_blank">Talbot School of Theology</a>. 

  %p
    It was a pretty straightforward project, albeit with a couple of obstacles. Perhaps the trickiest of these was the transition from its ColdFusion counterpart. Our team had recently put in place a more unified, <a href="/ws">LDAP-based authentication system</a>, which we wanted to take advantage of while maintaining support for the app's legacy accounts. This meant it needed to be aware of two separate user sources and have the ability to authenticate against one or the other. Fortunately, the choice of the <a href="https://github.com/plataformatec/devise" target="_blank">devise authentication gem</a> made this relatively painless, though choices still had to be made when duplicates were found.

  .screenshot-container
    %img.screenshot{ :src => '/images/talbot-placement-0.png' }
    .stop{ :style => 'left: 6.209850107066381%; top: 34.78260869565217%; width: 85.76017130620986%; height: 47.26507713884993%;' } 
    =tooltip :left => '10.441341032563235%', :top => '50.33508557591164%' do
      %h2 Dual Auth Backend
      %p The app needed to support authentication for both local users and LDAP-based university accounts.

  .screenshot-container
    %img.screenshot{ :src => '/images/talbot-placement-2.png' }
    .stop{ :style => 'left: 9.528907922912206%; top: 36.44578313253012%; width: 65.31049250535332%; height: 53.463855421686745%;' }
    =tooltip :left => '30.396912015717604%', :top => '54.99251106868441%' do
      %h2 Easy, friendly search
      %p Job seekers log in and search for postings by title or location. Results are ajaxified and sortable by criteria.

  %p
    As requested by the client, I added a feature that would help avoid duplicate employer entries. When creating a new employer (usually a church or para-church organization), its name and address is intelligently compared against existing ones. If a match is found, the user is given the option of requesting access to the pre-existing account, or continuing with the creation of a new one. An approval process ensures that the feature is not abused.

  .screenshot-container
    %img.screenshot{ :src => '/images/talbot-placement-3.png' }
    .stop{ :style => 'left: 9.528907922912206%; top: 36.44578313253012%; width: 80.83511777301928%; height: 6.77710843373494%;' } 
    =tooltip :left => '69.70550733153775%', :top => '53.59322552240923%', :class => 'left' do
      %h2 Duplicates Buster
      %p To avoid duplicates, employer addresses are intelligently checked against existing records.

  %nav.projects
    %a.button{ :href => '/access'} Next - Access Control Delegation &raquo;
    %a.button{ :href => '/instantquote'} &laquo; Previous - a 3D Printing Quoter
