-content_for :title do
  Village Schools International

.project
  %h1 Village Schools International

  %button.starttour Quick Tour

  .project-date 2010 - Drupal

  .project-stack
    %h2 Technology Stack
    %ul
      %li Drupal (PHP)
      %li Google Maps API

  .project-description

    %p My wife and I spent a year in <a href="https://maps.google.com/?ll=-8.5592,35.50116&spn=0.02699,0.034075&t=h&z=15" target="_blank">Tanzania</a> with this organization that starts schools and provides health care in rurals areas. I couldn't speak more highly of what those folks are doing, and I encourage you to <a href="http://villageschools.org" target="_blank">check them out</a>.

    %p I redesigned their website upon our return in 2008 using the <a href="http://drupal.org">drupal CMS</a>. The site is pretty straightforward, but I wanted to highlight the dynamic interactive map and Google Earth tour. Both are generated automatically based off of coordinate information entered from the admin interface into a custom Drupal type - a school. The result is an attractive feature that's easy for a non-technical content editor to update.

    %a{ :href => 'http://villageschools.org' } Visit the live site &raquo;

  .screenshot-container
    %img.screenshot{ :src => '/images/vst-1.png' }
    .stop{ :style => 'left: 30.299785867237688%; top: 24.666666666666668%; width: 59.100642398286936%; height: 68.33333333333333%;' } 
    =tooltip :left => '66.69159587631877%', :top => '33.54393502940302%', :class => 'left' do
      %h2 Interactive Map
      %p Schools, represented by a custom drupal type, are placed on the map when their coordinates are added from the admin interface.

  .screenshot-container
    %img.screenshot{ :src => '/images/vst-2.png' }
    .stop{ :style => 'left: 30.83511777301927%; top: 34.833333333333336%; width: 58.45824411134904%; height: 57.666666666666664%;' } 
    =tooltip :left => '59.088154370064906%', :top => '1.375%' do
      %h2 Google Earth Tour
      %p A KML-based Google Earth tour is also automatically generated using those same coordinates. 


  %nav.projects
    %a.button{ :href => '/'} Back to the list &raquo;
    %a.button{ :href => '/open-biola'} &laquo; Previous - A Platform for free Educational Content
