-content_for :title do
  Web Services Framework

.project
  %h1 Web Services Framework

  %button.starttour Quick Tour

  .project-date 2009-2012 - PHP

  .project-stack
    %h2 Technology Stack
    %ul
      %li PHP/Apache on Linux
    %h2 Integrates with
    %ul
      %li LDAP/Active Directory
      %li Google Apps
      %li Oracle, MySQL, MS SQL

  .project-description

    %p 
      When I started working at <a href="http://biola.edu" target="_blank">Biola University</a>, a big push was underway to centralize many of its IT services. I participated to some degree or another in a variety of changes toward this goal, from the installation of a SAN and the virtualization of most of its servers, to a migration towards Active Directory and centralized user management. But the task I was most involved in was that of providing developers with an easy and centralized environment in which to access information about users.

    %p
      The idea was to build (or buy) a framework that would serve as an access point for integrating with various IT services, particulary the directory. It would expose a collection of API's via HTTP in a secure, controlled environment, abstracting the underlying technology so developers wouldn't need to focus on how to access data in x number of different locations. 

    %p
      None of the systems we researched at the time quite met our needs, so we decided to develop our own. PHP was chosen because of my skillset at the time. The project started out small, and merely placed a SOAP interface in front of LDAP authentication and lookups (We later switched to JSON-encoded REST when we realized that "Simple" is a misnomer in the SOAP acronym). It used a system of client certificates for authentication - one cert per app. Permissions were set from within an admin interface and issued to individual certs. This allowed us to control exactly what information and which functions were available to each application accessing the API.
  
    .screenshot-container{ :style => 'float: right; margin: 0px;' }
      %img.screenshot{ :src => '/images/ws-2.png' }
      .stop{ :style => 'left: 5.904761904761905%; top: 4.191616766467066%; width: 87.42857142857143%; height: 87.02594810379242%;' } 
      =tooltip :left => '47.542747860863095%', :top => '44.46798541588698%'  do
        %h2 APIs to IT Services
        %p The Web Services framework exposes common user management tasks via HTTP. Granular permissions control what data and functions client apps can access.

    %p
      As integration needs arose, we were able to expand the framework to many different uses, ranging from account provisioning to calendar and event management, caching and other miscellaneous tools. Client libraries were developed to facilitate access to it from Django, Ruby on Rails and PHP apps. Here are a few of the university's systems that now depend on the Web Services framework:

    %ul
      %li <a href="https://login.biola.edu/login" target="_blank">Login</a>, part of the school's Single-Sign-On system (which I also implemented), for password changes and user management,
      %li The "News &amp; Features" section on the <a href="http://www.biola.edu/" target="_blank">home page</a>, as well as the <a href="http://now.biola.edu/news" target="_blank">News</a> and <a href="http://now.biola.edu/events" target="_blank">Events</a> sections of <a href="http://now.biola.edu/" target="_blank">now.biola.edu</a>, for the aggregation of news and calendar items from different internal sites,
      %li The Twitter feeds on <a href="http://library.biola.edu/" target="_blank">the library's site</a> and elsewhere, for throttling and caching requests,
      %li The <a href="http://www.biola.edu/shuttle/map-track/" target="_blank">Shuttle Tracking service</a>, for caching location data,
      %li.arrow-down Many <a href="http://apps.biola.edu/dispatch/" target="_blank">internal tools</a>

    .screenshot-container
      %img.screenshot{ :src => '/images/dispatch.png' }
      .stop{ :style => 'left: 3.5331905781584583%; top: 2.831594634873323%; width: 93.04068522483941%; height: 89.86587183308495%;' }
      =tooltip :left => '47.542747860863095%', :top => '44.46798541588698%'  do
        %h2 One app to fuel 'em all
        %p Web Services is used to perform:
        %ul
          %li Authentication
          %li User &amp; password management
          %li News &amp; Events aggregation
          %li Caching and more...

    %div{ :style => 'float: right; width: 300px; height: 280px;' }
      .stop{ :style => 'left: 0.6666666666666666%; top: 0%; width: 100.33333333333333%; height: 102.5%;' } 
      =tooltip :left => '0%', :top => '0%'  do
        %h2 Data Sync'ing
        %p Web Services' tasks automate the propagation of user-record changes to dozens of systems spanning multiple technologies.

    %p
      Eventually, the framework became the ideal place from which to launch various background tasks. It now handles provisioning and data synchronization accross mutliple platforms and technologies, including:

    %div{ :style => 'position: relative;' }
      %ul
        %li <strong>Google Apps</strong>, the school's email solution,
        %li The  <strong>Oracle</strong>-based ERP system,
        %li 4 separate <strong>LDAP</strong> directories,
        %li An emergency notification system,
        %li A health information system,
        %li Various <strong>MS SQL</strong>-based legacy user stores.

    %p
      The framework's logs were specifically formatted to be consumed by the data-crunching <a href="http://splunk.com" target="_blank">Splunk</a>, which is used to monitor activity and generate reports. The automation and synchronization provided by the Web Services framework made it so that practically any change to a user record was propagated within the hour to dozens of systems.

    .clearfix

  %nav.projects
    %a.button{ :href => '/open-biola'} Next - A Platform for free Educational Content &raquo;
    %a.button{ :href => '/dropbox'} &laquo; Previous - File Sharing &agrave; la Dropbox
