/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  overflow-x: hidden; }

body {
  color: #283538;
  font-family: "HelveticaNeue-Light", sans-serif; }

body, .main-nav {
  background: #d6dfe7 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC); }

div {
  position: relative; }

h1 {
  background: rgba(255, 112, 32, 0.52);
  background: -moz-linear-gradient(-173deg, #f7b95c 0%, #ff9651 100%);
  background: -webkit-linear-gradient(-173deg, #f7b95c 0%, #ff9651 100%);
  background: -o-linear-gradient(-173deg, #f7b95c 0%, #ff9651 100%);
  background: -ms-linear-gradient(-173deg, #f7b95c 0%, #ff9651 100%);
  background: linear-gradient(-173deg, #f7b95c 0%, #ff9651 100%);
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.54);
  box-shadow: inset 0px 1px 2px #567596;
  color: #3A3A3A;
  display: inline-block;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10px 0px 20px -40px;
  padding: 2px 30px;
  font-size: 1.5em;
  font-size: 1.5em; }

a {
  color: #407fc2;
  text-decoration: none; }

a:not(.button):hover {
  text-decoration: underline;
  background-color: #f2ff9b; }

a:visited {
  color: #7f5c8e; }

.discrete {
  font-size: .8em;
  color: #45474a; }

.bolded {
  font-weight: bold; }

.print-only {
  display: none; }

.project-date {
  font-weight: bold;
  font-style: italic;
  color: gray; }

.starttour {
  display: none; }

header {
  background: #dadada url(../images/bg.png) repeat-x;
  border-bottom: 1px solid #A2A2A2; }
  header #title, header #title:hover {
    position: relative;
    display: block;
    height: 70px;
    background: url(../images/david.png) no-repeat left center;
    background-color: transparent !important;
    background-size: 90%;
    margin-left: 20px;
    text-decoration: none;
    font-size: 0px;
    padding: 10px 20px; }
  header #necessary_evils {
    display: inline-block;
    float: right;
    margin: 10px; }
    header #necessary_evils a {
      margin: 0px 2px;
      font-weight: bold; }
      header #necessary_evils a:hover {
        text-decoration: none;
        background: transparent; }
    header #necessary_evils #twitter {
      color: #3A9CE4; }
    header #necessary_evils #linkedin {
      color: white; }
      header #necessary_evils #linkedin .in {
        background: #296FA2;
        padding: 0px 3px;
        margin-left: 2px; }
    header #necessary_evils #stackoverflow {
      background: url("../images/stackoverflow.png") no-repeat; }
    header #necessary_evils #bitbucket {
      background: url("../images/bitbucket.png") no-repeat; }

.main-nav {
  -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: -20px -20px 20px -20px;
  padding: 10px 20px; }
  .main-nav ul {
    margin: 0px;
    padding: 0px; }
    .main-nav ul li {
      display: inline;
      padding: 0px 5px; }
      .main-nav ul li a {
        text-decoration: none;
        color: #93542b; }
        .main-nav ul li a:hover {
          background-color: transparent;
          text-decoration: underline; }
        .main-nav ul li a:visited {
          color: #93542b; }
        .main-nav ul li a.selected {
          font-weight: bold; }
      .main-nav ul li span.selected {
        color: #93542b;
        font-weight: bold; }

#about_me p {
  font-size: 1.5em; }

#video {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  display: none; }

#video iframe {
  width: 100%; }

#cv #me {
  font-size: .9em;
  margin: 10px 0px 30px 0px; }
  #cv #me .name {
    font-size: 1.9em; }
  #cv #me .title {
    font-size: 1.1em;
    color: gray;
    margin-bottom: 7px; }
  #cv #me .phone {
    font-size: .9em; }
  #cv #me #photo {
    width: 40%;
    float: right;
    margin: 0px 0px 0px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 1px 1px 1px #8d8d8d;
    -moz-box-shadow: 1px 1px 1px #8d8d8d;
    -o-box-shadow: 1px 1px 1px #8d8d8d;
    box-shadow: 1px 1px 1px #8d8d8d; }
#cv .section-item {
  margin-bottom: 45px; }
  #cv .section-item h2 {
    margin-bottom: 0px;
    border-top: 1px solid #D1D1D1; }
  #cv .section-item .location {
    color: #835004;
    font-size: .9em; }
  #cv .section-item .date {
    color: #373749;
    text-transform: uppercase;
    float: right;
    position: relative;
    top: 3px;
    font-size: .9em; }
  #cv .section-item .technologies {
    font-size: .9em;
    font-weight: bold;
    color: gray; }
    #cv .section-item .technologies:before {
      content: "Technologies used: ";
      font-style: italic;
      font-weight: normal; }
#cv .section-content {
  margin-bottom: 40px; }

#work .work-item {
  color: black;
  text-decoration: none;
  display: block;
  margin: 50px 0px 40px 0px;
  position: relative; }
  #work .work-item .work-item-title {
    text-decoration: none;
    color: #407fc2;
    font-size: 1.5em;
    font-weight: 700;
    margin: 20px 0px 0px 0px; }
    #work .work-item .work-item-title:hover {
      text-decoration: none;
      background: none !important; }
    #work .work-item .work-item-title:visited {
      color: #7f5c8e; }
  #work .work-item .work-item-live-site {
    margin-left: 10px; }
  #work .work-item .technologies {
    display: block;
    margin: 0px 0px 30px 0px;
    color: #556e74;
    font-style: italic;
    font-size: 11pt; }
  #work .work-item .work-item-img {
    width: 100%;
    -webkit-transform: perspective(600px) rotateY(8deg);
    -moz-transform: perspective(600px) rotateY(8deg);
    -o-transform: perspective(600px) rotateY(8deg);
    transform: perspective(600px) rotateY(8deg); }

section.content {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px; }

.project-stack {
  font-family: Monaco, Verdana;
  font-size: .8em;
  background-color: #12151c;
  color: #D1B545;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px; }
  .project-stack h2 {
    font-size: 1em;
    margin: 0px 0px 10px 0px;
    color: white; }
  .project-stack h2:before {
    content: "##"; }
  .project-stack ul {
    margin-top: 0px;
    padding-left: 20px; }
    .project-stack ul li {
      list-style-type: none; }
      .project-stack ul li:before {
        content: "* "; }

.screenshot-container {
  position: relative;
  display: block; }

.screenshot {
  width: 100%; }

#tour {
  margin-top: 40px; }

.stop {
  position: absolute;
  display: none; }

nav.projects {
  position: relative;
  margin-top: 30px;
  white-space: nowrap;
  border-top: 1px solid #9e9e9e;
  padding-top: 10px; }
  nav.projects a.button {
    display: inline-block;
    width: 50%;
    margin: 0px;
    white-space: normal; }
  nav.projects .button:last-child {
    text-align: right; }

#stl_examples {
  display: inline-block;
  position: relative; }

a.stl {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 10px; }

.arrow-down:after {
  width: 84px;
  height: 72px;
  background: url(../images/arrow-down.png) 10px 10px no-repeat;
  display: inline-block;
  vertical-align: top;
  content: ""; }

footer {
  padding: 10px 0px;
  background-image: url(../images/footer-bg.png) repeat-x;
  -webkit-box-shadow: inset 0px 2px 20px #032142;
  -moz-box-shadow: inset 0px 2px 20px #032142;
  -o-box-shadow: inset 0px 2px 20px #032142;
  box-shadow: inset 0px 2px 20px #032142;
  background-color: #2b4a64;
  color: #e3e3e3;
  font-size: .5em;
  letter-spacing: 1px;
  text-align: center; }

/* Page Specific */
/* instantquote */
#mesh {
  display: none;
  visibility: hidden; }

#stl_examples_wrapper {
  display: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  header #title, header #title:hover {
    margin-left: 7%;
    height: 150px;
    width: 430px;
    background: url(../images/david.png) 10% 30px no-repeat;
    background-size: 90%; }
  header #necessary_evils {
    margin: 10px;
    position: absolute;
    float: none;
    text-align: right;
    top: 0px;
    right: 0px; }

  a:hover {
    text-decoration: none; }

  .main-nav {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 20px;
    margin: 0px; }

  section.content {
    position: relative;
    padding: 40px;
    margin: -40px auto 40px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0px 1px 5px #5A5A5A; }
    section.content .project-stack {
      margin: 10px 0px 20px 20px;
      float: right;
      width: 30%; }

  #video {
    width: 438px; }

  #cv #me {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 1px 1px 4px #aaaaaa;
    -moz-box-shadow: inset 1px 1px 4px #aaaaaa;
    -o-box-shadow: inset 1px 1px 4px #aaaaaa;
    box-shadow: inset 1px 1px 4px #aaaaaa;
    float: right;
    margin: 30px 0px 30px 30px;
    min-width: 400px;
    background: white;
    padding: 20px; }
    #cv #me #photo {
      width: auto; }
    #cv #me .name {
      letter-spacing: 8px; }
    #cv #me .title {
      letter-spacing: 3px; }
  #cv .section-item .date {
    border: 1px dotted lightgray;
    padding: 4px;
    background: rgba(0, 0, 0, 0.05);
    top: -26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em; }
  #cv .section-content {
    margin-bottom: 80px; }

  #work .work-item {
    clear: both;
    padding: 0px 20px 0px 20px;
    margin: 50px auto 0px auto;
    max-width: 800px; }
    #work .work-item .work-item-title:hover {
      text-decoration: underline; }
    #work .work-item .work-item-img {
      float: left;
      margin: 0px 20px 40px 0px;
      width: 300px;
      -webkit-transition: .1s ease-in .6s;
      -moz-transition: .1s ease-in .6s;
      -o-transition: .1s ease-in .6s;
      transition: .1s ease-in .6s; }
    #work .work-item:hover .work-item-img {
      -webkit-transition-delay: .1s;
      -moz-transition-delay: .1s;
      -o-transition-delay: .1s;
      transition-delay: .1s;
      -webkit-transform: perspective(600px) rotateY(10deg);
      -moz-transform: perspective(600px) rotateY(10deg);
      -o-transform: perspective(600px) rotateY(10deg);
      transform: perspective(600px) rotateY(10deg); }
    #work .work-item .work-item-link {
      display: inline-block;
      float: left; }
      #work .work-item .work-item-link:hover {
        background: none !important; }

  .starttour.visible-tip:after {
    display: inline-block;
    position: absolute;
    width: 253px;
    height: 55px;
    background: url(../images/tip.png) no-repeat;
    content: "";
    top: -40px;
    left: 130px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }

  .screenshot-container {
    margin: 20px auto; }
    .screenshot-container div {
      position: absolute; }

  .screenshot {
    /* border: 1px solid red; */
    width: 100%; }

  .stop {
    display: block; }

  nav.projects {
    border-top: none;
    padding-top: none; }
    nav.projects a.button {
      width: auto;
      max-width: 40%; }
    nav.projects .button:first-child {
      float: right;
      text-align: center; }

  footer {
    font-size: .7em;
    padding: 20px 0px; } }
@media only screen and (min-width: 600px) {
  .starttour, .endtour {
    display: inline-block;
    margin-top: 10px; }

  button, .button, .button:visited {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    white-space: nowrap;
    font-family: inherit;
    font-size: 1em;
    text-decoration: none;
    color: #191919;
    background-color: #b2b2b2;
    background: -moz-linear-gradient(top, #b2b2b2 0%, #cbcbcb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #cbcbcb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2b2b2 0%, #cbcbcb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2b2b2 0%, #cbcbcb 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2b2b2 0%, #cbcbcb 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #b2b2b2 0%, #cbcbcb 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2b2b2', endColorstr='#cbcbcb',GradientType=0 );
    /* IE6-9 */
    text-shadow: 1px 1px #e5e5e5, -1px -1px #a5a5a5;
    position: relative;
    padding: 10px 20px;
    border-top: 1px solid #3f3f3f;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    border-left: 1px solid #3f3f3f;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 1px 1px 1px #d8d8d8;
    -moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 1px 1px 1px #d8d8d8;
    -o-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 1px 1px 1px #d8d8d8;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 1px 1px 1px #d8d8d8;
    -webkit-opacity: 0.95;
    -moz-opacity: 0.95;
    -o-opacity: 0.95;
    opacity: 0.95;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  button:hover, .button:hover {
    background-color: #b2b2b2;
    cursor: pointer;
    text-decoration: none;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }

  button:active, .button:active {
    padding: 12px 19px 8px 21px;
    -webkit-box-shadow: inset 2px 2px 1px #323232, inset -1px 1px 1px #323232;
    -moz-box-shadow: inset 2px 2px 1px #323232, inset -1px 1px 1px #323232;
    -o-box-shadow: inset 2px 2px 1px #323232, inset -1px 1px 1px #323232;
    box-shadow: inset 2px 2px 1px #323232, inset -1px 1px 1px #323232;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }

  button:disabled,
  .button.disabled,
  .button:disabled,
  .button.disabled:active,
  .button.disabled:hover {
    padding: 10px 20px;
    cursor: default;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

  header #necessary_evils {
    margin: 30px 20px;
    position: absolute;
    float: none;
    text-align: right;
    top: 0px;
    right: 0px; }
    header #necessary_evils a, header #necessary_evils a:hover {
      vertical-align: bottom;
      font-size: 0px;
      display: inline-block;
      width: 35px;
      height: 35px;
      margin: 0px 5px; }
    header #necessary_evils #twitter {
      background: url("../images/birdie.png") 0px 4px no-repeat; }
    header #necessary_evils #linkedin {
      background: url("../images/in.png") no-repeat; }
    header #necessary_evils #stackoverflow {
      background: url("../images/stackoverflow.png") no-repeat; }
    header #necessary_evils #bitbucket {
      background: url("../images/bitbucket.png") no-repeat; } }
/* bigger than iPad */
@media only screen and (min-width: 769px) {
  .screenshot-container {
    max-width: 934px;
    max-height: 734px; }

  /* Page Specific */
  /* instantquote */
  #mesh {
    display: block; }

  #stl_examples_wrapper {
    display: inline-block; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  html {
    width: 8.5in; }

  body {
    font: 9pt/1.5 Arial, sans-serif; }

  /* Roughly 12px font */
  header, .main-nav, footer, .button, button, img {
    display: none !important; }

  /*
  img {
      filter: url(filters.svg#grayscale); // Firefox 3.5+
      filter: gray; // IE6-9
      -webkit-filter: grayscale(1); // Webkit Nightlies & Google Chrome Canary
  }
  */
  .screen-only {
    display: none !important; }

  .section-title {
    margin-top: 40px; }

  .content {
    padding: 0px; }
    .content #cv #me {
      margin: 0px 0px 30px 30px;
      padding: 0px;
      float: none;
      min-width: 365px; }
      .content #cv #me #contact_info {
        text-align: center; }
        .content #cv #me #contact_info .name {
          font-size: 4em;
          letter-spacing: normal; }
        .content #cv #me #contact_info .title {
          font-size: 2em;
          line-height: 1em;
          letter-spacing: normal; }
      .content #cv #me #photo {
        display: none; }
    .content #cv h1 {
      margin: 0px 0px 0px -20px;
      padding: 0px;
      font-size: 1.9em; }
    .content #cv .section-content {
      margin-bottom: 25px; }
    .content #cv .section-item {
      margin-bottom: 25px; }
      .content #cv .section-item .date {
        border: none;
        position: relative;
        top: -26px; }

  *:not(.tooltip) {
    background: transparent !important; }

  * {
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  #work {
    /*
     * Don't show links for images, or javascript/internal links
     */ }
    #work a,
    #work a:visited {
      text-decoration: underline; }
    #work a[href]:after {
      content: " (" attr(href) ")"; }
    #work abbr[title]:after {
      content: " (" attr(title) ")"; }
    #work .print-only {
      display: inline; }
    #work .ir a:after,
    #work a[href^="javascript:"]:after,
    #work a[href^="#"]:after {
      content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
