* {
  font-size: 9pt;
  color: #333436; }

#contact_info, h1 {
  margin-left: 100px; }

.section-title {
  width: 100px; }
  .section-title h2 {
    font-size: 9pt; }

.section-content {
  width: 700px; }
  .section-content .section-item h2 {
    font-weight: bold; }

#photo {
  display: none; }

.technologies:before {
  color: #333436; }

.print-only {
  display: inline; }
