* {
  margin: 0px;
  font-family: "Century Gothic", Monaco, Arial;
  font-size: 12pt;
  color: #7f7f7f; }

body {
  padding: 20px;
  min-width: 800px; }

h1 {
  margin-left: 20%;
  color: #e76f34;
  font-size: 36pt;
  margin-bottom: 10px; }

a {
  color: #60a1ae; }

ul {
  margin-bottom: 20px; }
  ul li ul {
    margin: 5px 0px; }

.bolded {
  color: #58595b; }

.print-only {
  display: none;
  font-size: 8pt; }

.float-buster {
  clear: both; }

#photo {
  float: right; }

#contact_info {
  margin-left: 20%;
  font-size: 8pt;
  margin-bottom: 50px; }

.section {
  float: left;
  margin-bottom: 20px;
  clear: both;
  width: 100%; }

.section-title, .section-content {
  display: inline-block;
  vertical-align: top;
  float: left; }

.section-title {
  width: 20%;
  text-align: right; }
  .section-title h2 {
    font-size: 13pt;
    margin-right: 30px;
    color: #e76f34; }

.section-content {
  font-size: 11pt;
  width: 60%; }
  .section-content p {
    margin-bottom: 10px; }
  .section-content .section-item h2 {
    color: #58595b;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 3px; }
  .section-content .section-item .location:before {
    content: " - "; }
  .section-content .section-item .date {
    color: #e76f34;
    float: right; }
  .section-content .section-item .content {
    margin-bottom: 20px; }
  .section-content .section-item .technologies {
    font-size: 10pt;
    font-style: italic;
    position: relative;
    top: -15px;
    color: #58595b;
    font-weight: bold; }
    .section-content .section-item .technologies:before {
      font-weight: normal;
      color: #7f7f7f;
      content: "Technologies used: "; }
