button, .button, .button:visited
{
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    white-space: nowrap;
    font-family: inherit;
    font-size: 1em;
    text-decoration: none;
    color: darken($button-bg-color, 60%);

    background-color: $button-bg-color;
    background: -moz-linear-gradient(top, $button-bg-color 0%, lighten($button-bg-color, 10%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $button-bg-color), color-stop(100%,lighten($button-bg-color, 10%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $button-bg-color 0%,lighten($button-bg-color, 10%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $button-bg-color 0%,lighten($button-bg-color, 10%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $button-bg-color 0%,lighten($button-bg-color, 10%) 100%); /* IE10+ */
    background: linear-gradient(to bottom, $button-bg-color 0%,lighten($button-bg-color, 10%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$button-bg-color}', endColorstr='#{lighten($button-bg-color, 10%)}',GradientType=0 ); /* IE6-9 */

    text-shadow: 1px 1px lighten($button-bg-color, 20%), -1px -1px darken($button-bg-color, 5%);;
    position: relative;
    padding: 10px 20px;

    border-top: 1px solid darken($button-bg-color, 45%);
    border-right: 1px solid darken($button-bg-color, 18%);
    border-bottom: 1px solid darken($button-bg-color, 18%);
    border-left: 1px solid darken($button-bg-color, 45%);

    @include border-radius($button-border-radius);
    @include box-shadow(inset 0px 0px 0px rgba(0, 0, 0, 0), inset 1px 1px 1px lighten($button-bg-color, 15%));
    @include opacity(.95);
    @include transition(all .1s);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover, .button:hover
{
    background-color: $button-bg-color;    
    cursor: pointer;
    text-decoration: none;
    -webkit-opacity: 1;
       -moz-opacity: 1;
         -o-opacity: 1;
            opacity: 1;
}

button:active, .button:active
{
    padding: 12px 19px 8px 21px;

    -webkit-box-shadow: inset 2px 2px 1px darken($button-bg-color, 50%), inset -1px 1px 1px darken($button-bg-color, 50%);
       -moz-box-shadow: inset 2px 2px 1px darken($button-bg-color, 50%), inset -1px 1px 1px darken($button-bg-color, 50%);
         -o-box-shadow: inset 2px 2px 1px darken($button-bg-color, 50%), inset -1px 1px 1px darken($button-bg-color, 50%);
            box-shadow: inset 2px 2px 1px darken($button-bg-color, 50%), inset -1px 1px 1px darken($button-bg-color, 50%);

    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none; 
}

button:disabled,
.button.disabled,
.button:disabled,
.button.disabled:active,
.button.disabled:hover
{
    padding: 10px 20px;
    cursor: default;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}
