@mixin box-shadow($params...) 
{
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  -o-box-shadow: $params;
  box-shadow: $params;
}

@mixin border-radius($width: 5px) {
  -webkit-border-radius: $width;
  -moz-border-radius: $width;
  -o-border-radius: $width;
  border-radius: $width;
}

@mixin opacity($o) {
  -webkit-opacity: $o;
  -moz-opacity: $o;
  -o-opacity: $o;
  opacity: $o;
}

@mixin transition($t) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -ms-transition: $t;
  -o-transition: $t;
  transition: $t;
}