// Run the following in this project's root:
//   sass --watch public/css/sass:public/css & 

$hilited-color:      #E76F34
$content-color:      #7F7F7F
$bold-content-color: #58595B
$link-color:         #60A1AE
$margin-left:        20%

*
  margin: 0px
  font-family: 'Century Gothic', Monaco, Arial
  font-size: 12pt
  color: $content-color

body
  padding: 20px
  min-width: 800px

h1
  margin-left: $margin-left
  color: $hilited-color
  font-size: 36pt
  margin-bottom: 10px

a
  color: $link-color

ul
  margin-bottom: 20px
  li
    ul
      margin: 5px 0px

.bolded
  color: $bold-content-color
  
.print-only
  display: none
  font-size: 8pt
  
.float-buster
  clear: both
  
#photo
  float: right
    
#contact_info
  margin-left: $margin-left
  font-size: 8pt
  margin-bottom: 50px

.section
  float: left
  margin-bottom: 20px
  clear: both
  width: 100%
    
.section-title, .section-content
  display: inline-block
  vertical-align: top
  float: left
  
.section-title
  width: $margin-left
  text-align: right
  
  h2
    font-size: 13pt
    margin-right: 30px
    color: $hilited-color
    
.section-content
  font-size: 11pt
  width: 60%
  
  p
    margin-bottom: 10px
  
  .section-item
    h2
      color: $bold-content-color
      font-weight: normal
      display: inline-block
      margin-bottom: 3px

    .location
      &:before
        content: " - "

    .date
      color: $hilited-color
      float: right
      
    .content
      margin-bottom: 20px
      
    .technologies
      font-size: 10pt
      font-style: italic
      position: relative
      top: -15px
      color: $bold-content-color
      font-weight: bold
      
      &:before
        font-weight: normal
        color: $content-color
        content: "Technologies used: "